/* styles.css */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.section {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="number"],
button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

button {
    background-color: navy;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: navy;
}

#result {
    margin-top: 20px;
    padding: 10px;
    background: #e0e0e0;
    border-radius: 5px;
}

/* Add common styles for button-like appearance */
.button-style {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 4px;
    margin-right: 10px;
}

/* Specific styles for the delete button */
.delete-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-left: 10px; /* Adjust spacing as needed */
    cursor: pointer;
}

/* Additional styles for the person select */
.person-select {
    margin-right: 10px; /* Adjust spacing as needed */
    border: none;
    background: transparent;
    padding: 5px 0;
    cursor: pointer;
}

.individual-item-container {
    margin-bottom: 10px; /* Adjust spacing between item containers */
}

.individual-item-container label {
    margin-right: 10px; /* Adjust spacing between labels and checkboxes */
    display: flex;
    align-items: center;
}

.individual-item {
    margin-left: 10px;
}

