/* styles.css */
body {
    font-family: 'Roboto', 'Nunito', Arial, sans-serif;
    background-color: #034f84;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 16px #ffffff;
    font-size: 14px;
}

h1 {
    text-align: center;
    font-family: Arial;
    font-size: 4em;
    font-weight: 700;
    color: #333;
    margin-bottom: 20px;
}

.section {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    color: #555;
}

input[type="number"],
input[type="text"],
button {
    width: 100%;
    padding: 10px;
    margin: 5px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    color: #333;
    transition: all 0.3s ease;
    background: #fff;
    box-sizing: border-box;
}

input[type="number"]:focus,
input[type="text"]:focus,
button:focus {
    outline: none;
    border-color: #0066cc;
    box-shadow: 0 0 8px rgba(0, 102, 204, 0.2);
}

button {
    background-color: #0066cc;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #005bb5;
}

#result {
    margin-top: 20px;
    padding: 15px;
    background: #f0f0f0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.button-style {
    display: flex;
    align-items: center;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.delete-button {
    background-color: #e60000;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #cc0000;
}

.person-select {
    margin-right: 10px;
    border: 1px solid #ddd;
    background: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.person-select:focus {
    border-color: #0066cc;
}

.individual-item-container {
    margin-bottom: 15px;
}

.individual-item-container label {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.individual-item {
    margin-left: 10px;
    margin-right: 10px;
    width: 10%;
    max-width: 200px;
}

#numPeople,
#totalNettBill {
    width: calc(50% - 10px);
    display: inline-block;
}

#nameInputs {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

#nameInputs input {
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    #numPeople,
    #totalNettBill {
        box-sizing: border-box;
    }

    .button-style {
        flex-direction: column;
        align-items: flex-start;
    }

    .individual-item {
        width: calc(100% - 20px);
    }
}

